---
import Icon from "astro-icon";
import ContentSection from "./content-section.astro";
---

<ContentSection title="🚀 Unlock High-Quality Leads Now" id="contact">
  <Fragment slot="lead">
    Looking to get more clients? Drop your info, and let’s set up a quick 15-min
    chat
  </Fragment>
  <div class="mx-auto w-full lg:py-16">
    <form
      action="https://calendly.com/captivateclick/30min"
      method="post"
      class="mx-auto flex w-full max-w-4xl flex-col space-y-8"
    >
      <div class="grid grid-cols-1 gap-5 sm:grid-cols-2">
        <div>
          <label for="name" class="mb-2 block font-medium text-sm"
            >Your name</label
          >
          <input
            type="text"
            id="name"
            class="focus:ring-primary-500 focus:border-primary-500 block w-full rounded-lg border border-gray-300 p-2.5 text-black shadow-sm text-sm"
            placeholder="your name"
            required
          />
        </div>
        <div>
          <label for="company" class="mb-2 block font-medium text-sm"
            >Your Company</label
          >
          <input
            type="text"
            id="company"
            class="focus:ring-primary-500 focus:border-primary-500 block w-full rounded-lg border border-gray-300 p-2.5 text-black shadow-sm text-sm"
            placeholder="your company"
            required
          />
        </div>
      </div>
      <div>
        <label for="email" class="mb-2 block font-medium text-sm"
          >Your email</label
        >
        <input
          type="text"
          id="email"
          class="focus:ring-primary-500 focus:border-primary-500 block w-full rounded-lg border border-gray-300 p-2.5 text-black shadow-sm text-sm"
          placeholder="example@captiveclick.com"
          required
        />
      </div>

      <button
        type="submit"
        class="flex items-center justify-center gap-3 border-2 border-primary bg-primary px-6 py-4 text-white hover:border-secondary hover:text-secondary"
      >
        <Icon pack="mdi" name="calendar-clock" class="h-8" />
        <span>Select a time</span>
      </button>
    </form>
  </div>
</ContentSection>
