---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "AI-Driven Targeting",
    description:
      "Harness AI to pinpoint and engage your ideal clients. No guesswork.",
    icon: "mdi:robot",
  },
  {
    title: "Expertly Crafted Communication",
    description:
      "Emails by marketing pros. Capture attention, ignite interest.",
    icon: "mdi:email-edit",
  },
  {
    title: "Highly Personalized Outreach",
    description:
      "Beyond generic. Tailored emails for maximum engagement.",
    icon: "mdi:account-voice",
  },
  {
    title: "Data-Driven Strategies",
    description:
      "Strategies fueled by data. Evolve and optimize for peak results.",
    icon: "mdi:chart-line",
  },
  {
    title: "Maximized ROI",
    description:
      "Pay-per-meeting. Expert strategies for unmatched outreach ROI.",
    icon: "mdi:finance",
  },
  {
    title: "Adaptive Learning",
    description:
      "Learning from every click. Sharpening outreach with each interaction.",
    icon: "mdi:brain",
  },
];

---

<ContentSection title="Transform Your Outreach Game" id="features">
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="group flex flex-col items-center gap-4 border border-default bg-offset p-6 hover:text-xl">
          <div class="h-16 w-16 transform rounded-full border-2 border-current p-3 transition-transform duration-300 group-hover:scale-105">
            <Icon name={icon} />
          </div>
          <p class="transform text-center font-extrabold transition-transform duration-300 text-xl group-hover:scale-105">
            {title}
          </p>
          <p class="transform text-center text-offset transition-transform duration-300 text-sm group-hover:scale-105">
            {description}
          </p>
        </li>
      ))
    }
  </ul>
</ContentSection>
