---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "AI-Driven Targeting",
    description:
      "Leverage the power of advanced AI to identify and reach out to the ideal clients for your business.",
    icon: "mdi:robot",
  },
  {
    title: "Expertly Crafted Communication",
    description:
      "Benefit from emails crafted by marketing and communication experts, designed to capture attention and spark interest.",
    icon: "mdi:email-edit",
  },
  {
    title: "Highly Personalized Outreach",
    description:
      "No generic messages. Every email is tailored to resonate with its recipient, ensuring higher engagement rates.",
    icon: "mdi:account-voice",
  },
  {
    title: "Data-Driven Strategies",
    description:
      "Our methods are rooted in data and analytics, ensuring a continuously improving approach to maximize results.",
    icon: "mdi:chart-line",
  },
  {
    title: "Maximized ROI",
    description:
      "With a pay-per-meeting model and expert strategies, get the best return on your outreach investment.",
    icon: "mdi:finance",
  },
  {
    title: "Adaptive Learning",
    description:
      "Our systems learn from every interaction, refining the outreach process for even better results over time.",
    icon: "mdi:brain",
  },
];
---

<ContentSection title="Transform your outreach game" id="features">
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="group flex flex-col items-center gap-4 border border-default bg-offset p-6 hover:text-xl">
          <div class="h-16 w-16 transform rounded-full border-2 border-current p-3 transition-transform duration-300 group-hover:scale-105">
            <Icon name={icon} />
          </div>
          <p class="transform text-center font-extrabold transition-transform duration-300 text-xl group-hover:scale-105">
            {title}
          </p>
          <p class="transform text-center text-offset transition-transform duration-300 text-sm group-hover:scale-105">
            {description}
          </p>
        </li>
      ))
    }
  </ul>
</ContentSection>
