---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <div
    class="flex flex-col items-center justify-center text-center font-normal text-base"
  >
    <p>CaptivateClick since 2022</p>
    <p>Stockholm, Sweden</p>
    <p>Bogotá, Colombia</p>
  </div>
</footer>
