---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <HeroImage />
  </div>
  <div class="flex items-center justify-center">
    <p class="text-center font-extrabold text-2xl">
      CaptativeClick connecting business since 2022
    </p>
  </div>
</footer>
