---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="Say Hello to Meetings That Matter" id="intro">
  <Icon slot="eyebrow" name="logomark" class="cursor-clicking h-32" />
  <Fragment slot="lead">
    Secure 3-5 meetings weekly, directly in your calendar. Skip the email hassle; our outreach guarantees <span class="text-primary">engaged clients</span>
  </Fragment>
  <div class="grid grid-cols-1 gap-2">
    <a
      href="#contact"
      class="flex items-center justify-center gap-3 border-2 border-primary bg-primary px-6 py-4 text-white hover:border-secondary"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Get More Leads Now</span>
    </a>
  </div>
</ContentSection>
