---
import { Picture } from "@astrojs/image/components";
import ContentSection from "~/components/content-section.astro";
import type { ReviewItem } from "~/types";
import frankImage from "~/assets/Frank.jpeg";
import eddaImage from "~/assets/Edda.jpeg";
import jeanetteImage from "~/assets/Jeanette.jpeg";

const reviews: Array<ReviewItem> = [
  {
    avatar: frankImage,
    description:
      "The balance of casual and professional in their approach is just perfect. We've secured some of our best clients through their outreach.",
    author: "Frank Hedman",
    position: "Digital Marketer, Ventim",
  },
  {
    avatar: eddaImage,
    description:
      "I was skeptical at first, but the results speak for themselves. Our outreach efforts are now more consistent and effective.",
    author: "Edda CarlHenric",
    position: "Network manager, Kunskapspartner",
  },
  {
    avatar: jeanetteImage,
    description:
      "Their team knows their stuff. We've seen some encouraging results in our outreach.",
    author: "Jeanette Maria",
    position: "Sales manager, Black PRI",
  },
];
---

<ContentSection title="What Our Clients Are Saying" id="testimonials">
  <Fragment slot="lead">
    Join our list of <span class="text-primary">satisfied customers</span>. Read
    their stories and Schedule a <span class="text-primary">meeting!</span>
  </Fragment>
  <div class="mt-8 grid max-w-6xl grid-cols-1 gap-4 md:grid-cols-3 md:gap-8">
    {
      reviews.map(({ avatar, position, description, author }) => (
        <blockquote class="rounded-lg bg-gray-50 p-6 shadow-sm sm:p-8">
          <div class="flex items-center gap-4">
            <Picture
              style={{
                minHeight: "70px",
                minWidth: "70px",
                maxHeight: "70px",
                maxWidth: "70px",
                objectFit: "cover",
                objectPosition: "center",
                borderRadius: "50%",
              }}
              src={avatar}
              widths={[240, 240]}
              sizes="100px"
              loading="eager"
              alt="A floating astronaut in a space suit"
            />

            <div>
              <div class="flex justify-center gap-0.5 text-yellow-500">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-5 w-5"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
              </div>

              <p class="mt-0.5 font-medium text-gray-900 text-lg">{author}</p>
            </div>
          </div>

          <p class="mt-4 text-gray-700">{description}</p>
          <p class="mt-4 font-semibold text-gray-700">{position}</p>
        </blockquote>
      ))
    }
  </div>
</ContentSection>
